<h1>Registration#new</h1>
<p>Find me in app/views/registration/new.html.erb</p>

<p>Please register to vote below:</p>

<iframe style="height: 80vh; width: 100%" src="https://www.sos.state.co.us/voter/pages/pub/olvr/verifyNewVoter.xhtml">

</iframe>

<p>Please click this button after you're done:</p>

<%= button_to 'Done!', registration_check_path %>