<p>
  <!--Oh no! An ugly iframe!-->
  <!--<br>-->
  It's okay. Once you're done registering below, you
  won't have to stare at it anymore.
</p>

<div class="iframe-wrap">
<iframe src="https://www.sos.state.co.us/voter/pages/pub/olvr/verifyNewVoter.xhtml">
</iframe>
</div>

<p>Please click this button after you're done:</p>

<%= button_to 'Done!', registration_check_path, class: "btn" %>
