html,
body {
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  min-height: 100%;
  padding: 0;
  text-align: center;
}

#wrapper {
  background-image: asset-data-url("BgFlatirons.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

#content {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 5rem 10rem 5rem;
}

#footer {
  align-items: flex-end;
  display: flex;
  flex: 1;
  font-size: 1rem;
  padding: .5rem;
  text-align: left;

  a {
    color: #418fc6;
    transition: .5s;
  }
  a:hover {
    opacity: .7;
  }
}

h1 {
  font-size: 3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  word-spacing: .4rem;
}

iframe {
  background: #fff;
  background: rgba(255, 255, 255, .7);
  flex: 1;
}

.iframe-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.btn {
  background: none;
  border-radius: 7px;
  border: 3px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: all 1s;

  &:hover {
    background-color: rgba(255, 255, 255, .2);
  }
}

.btn-g {
  @extend .btn;
  background-image: asset-data-url("google-g.png");
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: auto 60%;
  padding: 1.2rem 1rem 1.2rem 5rem;
}

.table {
  display: flex;
}

.table-row {
  display: flex;
  flex: 1;

  div {
    flex: 1;
  }
}

form {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}

.field {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0 0;
}

.select_bday {
  display: flex;

  select {
    flex: 1;
    margin: 0 .5rem 0 0;

    option { color: #000; }
  }
  select:last-of-type {
    margin-right: 0;
  }
}

input[type="text"],
input[type="number"],
select {
  background: none;
  border-radius: 7px;
  border: 3px solid #fff;
  color: #fff;
  display: block;
  flex: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  margin: 0 0 .8rem 0;
  padding: .2rem .3rem;
}

.bg-grad0 { background: linear-gradient(-30deg, #8bd0e8, #5a307a); }
.bg-grad1 { background: linear-gradient(-30deg, #f7a04f, #84335a); }
.bg-grad2 { background: linear-gradient(-30deg, #e2783f, #1e6791); }
.bg-grad3 { background: linear-gradient(-30deg, #cee888, #0e4d7a); }
.bg-grad4 { background: linear-gradient(-30deg, #ffc579, #702f2f); }
.bg-grad5 { background: linear-gradient(-30deg, #72d7d8, #750000); }


@media only screen and (max-width: 600px) {
    #content {
      padding: 0 1rem 6rem 1rem;
    }

    #footer {
      background: #fff;
      background: rgba(255, 255, 255, .6);
    }

    .btn {
      font-size: 1.2rem;
    }

    .btn-g {
      background-position: .5rem center;
      padding: .5rem .5rem .5rem 3rem;
    }

    form { width: 100%; }

    .select_bday {
      flex-direction: column;

      select {
        margin: 0 0 .3rem 0;
      }
    }
}
